//changement variable defaut bootstrap
$link-hover-decoration: none;
$link-color: #0CAD00;
$link-hover-color: none;
$card-cap-bg: #fff;
$card-border-radius: 0;
$nav-tabs-border-radius: 0;
$breadcrumb-bg: none;